@page "/admin/consultar-contas"

@using AppContas.Web.Services
@using System.Net.Http.Headers

@inject HttpClient Http
@inject AuthService Auth
@inject IJSRuntime JsRuntime

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h2>Consulta de Contas</h2>
                <p>Listagem de contas cadastradas.</p>
                <hr />

                <Loading IsLoading="@isLoading">

                    <div class="mb-3">
                        <strong class="text-success">@mensagemSucesso</strong>
                        <strong class="text-danger">@mensagemErro</strong>
                    </div>

                    <div class="table-responsive">
                        <table id="grid" class="table table-sm table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Nome da Conta</th>
                                    <th>Data</th>
                                    <th>Valor</th>
                                    <th>Tipo</th>
                                    <th>Categoria</th>
                                    <th>Operações</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in contas)
                                {
                                    <tr>
                                        <td>@item.NomeConta</td>
                                        <td>@item.DataConta.Value.ToString("dd/MM/yyyy")</td>
                                        <td>@item.Valor.Value.ToString("c")</td>
                                        <td>@item.Tipo.Nome</td>
                                        <td>@item.Categoria.Nome</td>
                                        <td>
                                            <NavLink class="btn btn-primary btn-sm" href="@OnEdit(item.Id.ToString())">
                                                <span class="oi oi-pencil" aria-hidden="true"></span>
                                            </NavLink>
                                            <button class="btn btn-danger btn-sm" @onclick="(() => OnDelete(item.Id.ToString()))">
                                                <span class="oi oi-trash" aria-hidden="true"></span>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="6">
                                        Quantidade de contas: @contas.Count
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </Loading>
                
            </div>
        </div>
    </div>
</div>

@code {
    private List<ContaResponse> contas = new List<ContaResponse>();
    private bool isLoading = false;

    private string? mensagemSucesso;
    private string? mensagemErro;

    protected override async Task OnInitializedAsync()
    {
        await Auth.Authorize(true);

        isLoading = true;

        var data = await Auth.GetData();
        Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", data.AccessToken);

        var response = await Http.GetAsync("Contas");
        if(response.IsSuccessStatusCode)
            contas = await response.Content.ReadFromJsonAsync<List<ContaResponse>>();

        isLoading = false;
    }

    private string OnEdit(string id)
    {
        return $"/admin/editar-contas/{id}";
    }

    protected async Task OnDelete(string? id)
    {
        bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Deseja realmente excluir esta conta?");

        if (confirmed)
        {
            isLoading = true;

            var responseExclusao = await Http.DeleteAsync("Contas/" + id.ToString());
            var contentExclusao = await responseExclusao.Content.ReadFromJsonAsync<ExcluirContasResponse>();

            if (responseExclusao.IsSuccessStatusCode)
            {
                mensagemSucesso = contentExclusao.Mensagem;
                await OnInitializedAsync();
            }            

            isLoading = false;
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        //await JsRuntime.InvokeAsync<object>("AddDataTable", "#grid");
    }
}
